# Project exclude paths
/.gradle/
/Readability Score/task/build/
/Readability Score/task/out/
/Readability Score/task/out/production/classes/
/Topics/Branching statements/Bus tour/build/
/Topics/Floating-point types/Difference between two doubles/out/
/Topics/Floating-point types/Difference between two doubles/out/production/classes/
/Topics/Math library/Quadratic equation/out/
/Topics/Math library/Quadratic equation/out/production/classes/
/Topics/Scanning the input/Theory/build/
/Topics/Scanning the input/Theory/out/
/Topics/Scanning the input/Theory/out/production/classes/